{{!-- Session Card --}}

<h1 class= "courseId" data-id={{CourseId}}>{{course_name}}</h1>
{{#each sessions}}
    <div id={{id}} class="card sessionCard" style="width: 20rem;" data-toggle="modal" data-target="#session{{id}}">
        <div class="card-header">
            <img class="icon" src=' {{subject_avatar}} '> {{subject}}
            <small class="text-muted" style="float:right">Attendance {{attendance}} </small>
        </div>

        <div class="card-block">
            <h4 class="card-title"> {{session_name}} </h4>
            <p class="card-subtitle mb-2 text-muted">Date: {{session_date}} | Rating: {{session_rating}} </p>
            <p class="card-text"> {{session_desc}} </p>
        </div>

        <div class="card-footer">
            <small class="text-muted">Comments ({{Comments.length}}) </small>
            <small class="text-muted">Resources ({{Resources.length}}) </small>
            <small class="text-muted">Updated {{updated}} </small>
        </div>
    </div>



    <div id="session{{id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{id}}" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"
                    <input class="form-control" type="text" id="{{session_name}}">
                        <h4 class="modal-title">Sessions Name</h4> <hr>
                    </input>
                    <p class="modal-subtitle text-muted">Date & Time: {{session_date}} {{course_time}} </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <h6><b>Course Description</b></h6>
                                    <div class="form-group">
                                      <textarea class="form-control" rows="5" id="comment"></textarea>
                                        <button type="submit" class="btn btn-info btn-sm"">Add</button>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h6><b>Course Activities</b></h6>
                                    <div class="form-group">
                                      <textarea class="form-control" rows="1" id="addActivitiy"></textarea>
                                        <button type="submit" class="btn btn-info btn-sm"">Add</button>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <form>
                                    <div class="form-group">
                                        <label for="resourceText"><h6><b>Add A Resource</b></h6></label>
                                        <textarea class="form-control" rows="1" id="resourceTitle{{id}}" placeholder="Resource Title"></textarea>
                                        <textarea class="form-control" rows="1" id="resourceUrl{{id}}" placeholder="Resource URL"></textarea>
                                        <textarea class="form-control" rows="1" id="resourceDesc{{id}}" placeholder="Resource Description"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-info btn-sm" id = "{{id}}">Add</button>
                                </form>
                        </div>
                    </div>
                        <br>
                      {{#if Resources}}
                        <h4> Instructor Resources </h4>
                        {{#each Resources}}
                            {{#if instructor}}
                         <div class="row">
                            <div class="col-sm-1">
                                <button id="{{id}}" data-session-id="{{SessionId}}" class="starResource" id="bookmark">
                                <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-11">
                                    <ul>
                                        <li>
                                            <a href="{{resource_url}}" target="_blank">{{resource_title}}</a>
                                            <div>{{resource_desc}}</div>
                                            <div>Posted by: {{user_login}} at {{createdAt}}</div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                           {{/if}}
                      {{/each}}
                        <h4> Student Resources </h4>
                        {{#each Resources}}
                          {{#unless instructor}}
                         <div class="row">
                            <div class="col-sm-1">
                                <button id="{{id}}" data-session-id="{{SessionId}}" class="starResource" id="bookmark">
                                <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-11">
                                    <ul>
                                        <li>
                                            <a href="{{resource_url}}" target="_blank">{{resource_title}}</a>
                                            <div>{{resource_desc}}</div>
                                            <div>Posted by: {{user_login}} at {{createdAt}}</div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        {{/unless}}
                        {{/each}}
                      {{/if}}
                      <br>
                        <div class="row">
                           {{#unless Ratings}}
                             <form>
                              <div class="form-group">
                                <label for="resourceText">Rate this session</label>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1"> 1
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2"> 2
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3"> 3
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="4"> 4
                                      </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                      <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="5"> 5
                                      </label>
                                    </div>
                                     <button type="submit" id = "{{id}}"class="ratingSubmit" class="btn btn-info btn-sm">Submit</button>
                              </div>
                            </form> 
                          {{/unless}} 
                        {{#if Ratings}}
                          <p> You rated this session a {{session_rating}}.
                        {{/if}}
                        </div>
                         <div class='row'>
                          <div class='col-md-12'>
                            <div class="form-group">
                              <label for="exampleFormControlTextarea1" >Comment..</label>
                              <textarea class="form-control" id="commentText{{id}}" rows="3"></textarea>
                            </div>
                          </div>  
                        </div>
                         <div class='row'>
                          <div class='col-md-3'>
                          <button type="button" class="btn btn-info btn-sm commentSubmit" data-session-id="{{id}}">Comment</button>
                          </div>
                        </div> 
                          {{#each Comments}}
                        <div class="row">
                              <table>
                                      <tr>
                                          <td><img src={{user_avatar}} class="commentImg" /></td>
                                          <td><span class="name">By: {{user_login}} Posted at: {{createdAt}}</span></td>
                                          <td> <span class="comment">
                                              {{comment_text}}
                                          </span></td>
                                      </tr>
                              </table>
                            </div>
                          {{/each}}
                        
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-8 col-sm-6">
                                    </div>
                                    <div class="col-4 col-sm-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    

    
{{/each}}
