{{!-- Session Card --}}


<h1 data-course-id={{CourseId}}>{{course_name}}</h1>
{{#each sessions}}
    <div id={{id}} class="card sessionCard" style="width: 20rem;" data-toggle="modal" data-target="#session{{id}}">
        <div class="card-header">
            <img class="icon" src=' {{subject_avatar}} '> {{subject}}
            <small class="text-muted" style="float:right">Attendance {{attendance}} </small>
        </div>

        <div class="card-block">
            <h4 class="card-title"> {{session_name}} </h4>
            <p class="card-subtitle mb-2 text-muted">Date: {{session_date}} | Rating: {{session_rating}} </p>
            <p class="card-text"> {{session_desc}} </p>
        </div>

        <div class="card-footer">
            <small class="text-muted">Comments ({{comment_count}}) </small>
            <small class="text-muted">Resources ({{Resources.length}}) </small>
            <small class="text-muted">Updated {{updated}} </small>
        </div>
    </div>



<<<<<<< HEAD
    <div id="session{{id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{id}}" aria-hidden="true" data-backdrop="static">
=======
    <div id="session{{id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby=" {{id}} " aria-hidden="true">
>>>>>>> 931927d44b2892a973b35433ee399a242f04de3d
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"
                    <h4 class="modal-title"> {{session_name}} </h4>
                    <p class="modal-subtitle text-muted">Date: {{session_date}} | Time: {{course_time}} </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
<<<<<<< HEAD
                            <div class="col-md-4">
                                <h6><em>{{session_name}} Session Name</em></h6>
                                    <div id="sessionPost">
                                        <div class="form-group">
                                          <textarea class="form-control" rows="5" id="comment"></textarea>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm" id="descAdd">Add</button>
                                    </div>
                            </div>
                            <div class="col-md-4">
                                <h6>Session Activities</h6>
                                    <ul>
                                        <li></li>
                                    </ul>
                            </div>
                            <div class="col-md-4">
                                <form>
                                    <div class="form-group">
                                        <label for="resourceText">Add A Resource</label>
                                        <input type="text" class="form-control" id= "resourceTitle{{id}}" placeholder="Resource Title">
                                        <input type="text" class="form-control" id= "resourceUrl{{id}}" placeholder="Resource URL">
                                        <input type="text" class="form-control" id="resourceDesc{{id}}" placeholder="Resource Description">
                                    </div>
                                        <button type="submit" id = "{{id}}" class="resourceSubmit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
=======
                            <form>
                              <div class="form-group">
                                <label for="resourceText">Resource</label>
                                <input type="text" class="form-control" id= "resourceUrl{{id}}" placeholder="Resource URL">
                                <input type="text" class="form-control" id="resourceDesc{{id}}" placeholder="Resource Description">
                              </div>
                              <button type="submit" id = "{{id}}"class="resourceSubmit" class="btn btn-primary">Submit</button>
                            </form>
                            <div class="col-md-4"></div>
                            <div class="col-md-4 col-md-offset-4"></div>
>>>>>>> 931927d44b2892a973b35433ee399a242f04de3d
                        </div>
                    </div>
                        <br>
                        {{#each Resources}}
                        <div class="row">
<<<<<<< HEAD
                            <div class="col-sm-1">
                                <button id="{{id}}" data-session-id="{{SessionId}}" class="starResource" id="bookmark">
                                <i class="fa fa-bookmark fa-2x" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-md-11">
                                    <ul>
                                        <li>
                                            <a href="{{resource_url}}" target="_blank">{{resource_title}}</a>
                                            <div>{{resource_desc}}</div>
                                            <div>Posted by: {{user_login}} at {{createdAt}}</div>
                                        </li>
                                    </ul>
                            </div>
                        </div>
                        {{/each}}
                        <div class="row">
=======
                            <button type="button" id='{{id}}' data-session-id = "{{SessionId}}" class="btn btn-primary starResource">Star This resource</button>
                            <div class="col-md-4 col-md-offset-3">{{resource_url}}</div>
                            <div class="col-md-4 col-md-offset-4">{{resource_desc}}</div>
                            <div class="col-md-4 col-md-offset-4">Posted by: {{user_login}} at {{createdAt}}</div>
                        </div>
                        {{/each}}
                        {{#unless Ratings}}
>>>>>>> 931927d44b2892a973b35433ee399a242f04de3d
                            <form>
                              <div class="form-group">
                                <label for="resourceText">Rate this session</label>
                                <input type="text" class="form-control rating" id="sessionRating{{id}}" placeholder="Resource Rating">
                              </div>
                              <button type="submit" id = "{{id}}"class="ratingSubmit" class="btn btn-primary">Submit</button>
                            </form>
<<<<<<< HEAD
=======
                          {{/unless}}
                        {{#if Ratings}}
                          <p> You rated this session a {{session_rating}}.
                        {{/if}}
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-8 col-sm-6">
                                    </div>
                                    <div class="col-4 col-sm-6">
                                    </div>
                                </div>
                            </div>
>>>>>>> 931927d44b2892a973b35433ee399a242f04de3d
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
    {{/each}}











=======
    {{/each}}
>>>>>>> 931927d44b2892a973b35433ee399a242f04de3d
